html, body {
    margin:0;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input, select, button, div {
    font-size: 20px;
}
